<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Backoffice</title>
    <link rel="stylesheet" href="/static/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/js/bootstrap.js">
    <link rel="stylesheet" href="/static/assets/js/bootstrap.min.js">
    <link rel="stylesheet" href="/static/assets/css/style.css">

</head>
<body>  
    <%if(locals.message){%>
        <p class="message"><%=message%></p> 
    <%}%>
    <div class="container">
        <div class="row">
            <%- include('./templates/header.ejs');%>
       </div>
        <div class="row" id="liste">
           
            <h2 class="headerText">Liste échéance</h2> <br>
                <div class="row">

                    <table class="table">
                        <thead class="table-dark">
                            <th scope="col">Marque</th>
                            <th scope="col">Modele</th>
                            <th scope="col">Numero</th>
                            <th scope="col">Type Véhicule</th>
                            <th scope="col">Type Echéance</th>
                            <th scope="col">Date d'ajout</th>
                            <th scope="col">Date d'expiration</th>
                            <th scope="col">Jour restant</th>
                           
                            <th scope="col">Etat</th>

                        </thead>
                        <tbody>
                        <%echeances.forEach(echeance => {  %>
                            <tr>
                                <td><%=echeance.marque;%></td>
                                <td><%=echeance.modele;%></td>
                                <td><%=echeance.numero;%></td>
                                <td><%=echeance.type_vehicule;%></td>
                                <td><%=echeance.type;%></td>
                                <td><%=echeance.date_ajout;%></td>
                                <td><%=echeance.date_expiration;%></td>
                                <td><%=echeance.duree;%></td>
                                <td style="background: <%if(echeance.duree <= 15){%> red <%}else{ %> yellow <%}%> "  ><a style="color:black;font-weight:800 "href="/vers_modification_echeance/<%=echeance.id;%>" >Modifier</a></td>
                            </tr>
                                    
                        <%})%> 
                        </tbody>
                    
                    </table>
                </div><hr>
         
            </div>
         
        </div>


    </div>
</body>
</html>